<!-- Launch file principal para lanzar una simulación con Stage + MoveBse -->
<launch>
    <!--
    The TF's have been measured by hand. Proper calibration is pending.
	On lowering camera res:
	https://answers.ros.org/question/55689/lower-kinect-resolution-for-rgbcamera-using-openni_launch/
    -->



    <arg name="camera" default="camera" />
	<param name="/$(arg camera)/driver/data_skip" value="10" /> <!-- 0 is default, 10 will drop 9/10 frames -->
  	<param name="/$(arg camera)/driver/image_mode" value="8" /> <!-- 2 is default -->
  	<param name="/$(arg camera)/driver/depth_mode" value="8" /> <!-- 2 is default -->
    <include file="$(find openni2_launch)/launch/openni2.launch">
        <arg name="camera" value="$(arg camera)" />
        <arg name="device_id" value="#1" />
        <arg name="depth_registration" value="true" />
    </include>
    <node name="base_link_to_$(arg camera)_link" pkg="tf" type="static_transform_publisher" args=" 0.15 0 1.0 0 0 0 base_link /$(arg camera)_link 100" />
	<!-- 0.1 -0.1 1.39 0.11 0.05 1.570796327 -->
	###Duplica la nube de punto con una frecuencia maxima de 1Hz 
    <!--<node name="foo_throttler" type="throttle" pkg="topic_tools" args="messages /$(arg camera)/depth_registered/points 0.1 /$(arg camera)/depth_registered/points_throttle" />-->

</launch>
