<!-- 
  Launch file for the MOVE_BASE node which handles costmaps and trajectory planification (global,local)
  It publishes cmd_vel commands to the robot base
  Note that this uses mrpt's mrpt_reactivenav for local trajectory
-->

<launch>
  <arg name="launch_prefix" default="" />
  <arg name="global_planner_plugin" default="navfn/NavfnROS" />
  <arg name="local_planner_plugin" default="testlib::MyNavigator"/>
  <arg name="nav_type" default="2D"/>
  <arg name="config_reactive_file" default="$(find mrpt_reactivenav)/tutorial/reactive2d_custom_config.ini"/>
  <arg name="shape3D_file" default="" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" launch-prefix="$(arg launch_prefix)" output="screen">
		
		## BaseLocalPlanner mrpt controller config files and params.
		# The plugin itself, name defined in said argument.
		<param name="base_local_planner" value="$(arg local_planner_plugin)"/>
		# Set type of reactive navigator (2D or 3D)
		<param name="nav_type" value="$(arg nav_type)"/> 
		# This sends the distance to the target used by mrpt_reactivenav
		<param name="target_allowed_distance" value="0.1"/>
		# Topic to subscribe to get reactive goals (waypoints)
		<param name="topic_relative_nav_goal" value="reactive_nav_goal"/>
		# *Important*: This external config file holds the most important navigation settings
		<param name="cfg_file_reactive" value="$(arg config_reactive_file)"/>
		# Topic to subscribe to get robot shape.
		<param name="topic_robot_shape" value="/chassis_polygon" />
		# Rate base_local_planner calls its methods.
		 <param name="controller_frequency" value="10"/> # This solves the "pitching" problem
		# Topic where the reactive plugin advertise velocity commands. Default is "cmd_vel".		
		<param name="topic_cmd_vel" value="reactive_nav_cmd_vel"/>
		<rosparam file="$(arg shape3D_file)" command="load" />
		## Global planner config
		<param name="base_global_planner" value="$(arg global_planner_plugin)"/>
		# Planners
    	<rosparam file="$(find mrpt_reactivenav)/move_base_conf/simbot_global_planner_params.yaml" command="load" />
    	# Costmaps
    	<rosparam file="$(find mrpt_reactivenav)/move_base_conf/simbot_costmap_global_params.yaml" command="load" />
    	<rosparam file="$(find mrpt_reactivenav)/move_base_conf/simbot_costmap_common_params.yaml" command="load" />    
    	<rosparam file="$(find mrpt_reactivenav)/move_base_conf/simbot_costmap_common_params.yaml" command="load" ns="global_costmap" />
    	<rosparam file="$(find mrpt_reactivenav)/move_base_conf/simbot_costmap_common_params.yaml" command="load" ns="global_costmap/obstacles" />
    
  </node>
  
</launch>
