<!-- Launch file principal para lanzar una simulación con Stage + MoveBse -->

<launch>    


    ### ROBOT SIMULATION ###
    <param name="use_sim_time" value="true" />
    <include file="$(find mrpt_reactivenav)/launch/simbot_stage.launch" >
        <arg name="world_file" value="-d $(find mrpt_reactivenav)/maps/MAPIRlab_furniture_3D.world" />
        <arg name="disable_odometry" value="false" />
    </include>      
    
        <include file="$(find tfg_reactive_pkg)/launch/proc_depth_image.launch" />

    <node pkg="mrpt_local_obstacles" type="mrpt_local_obstacles_node" name="mrpt_local_obstacles_node" output="screen">
		<param name="source_topics_2dscan" value="laser_scan_0, laser_scan_1"/>
		<param name="source_topics_depthcam" value="points"/>
		<param name="show_gui" value="true"/>
    </node>
    ### URDF model "r2d2" ###
    <include file="$(find tfg_reactive_pkg)/launch/simbot_urdf.launch" />
    
    ### NAVIGATION ###
    <include file="$(find tfg_reactive_pkg)/launch/simbot_map_server.launch">
        <arg name="map_file" value="$(find mrpt_reactivenav)/maps/MAPIRlab_furniture_3D.yaml" />
    </include>
    <include file="$(find tfg_reactive_pkg)/launch/simbot_fake_loc.launch" />

</launch>
